/* import for EB Garamond and M PLUS Rounded*/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-image: url();
  background-color: #23006e;
}

/* white background for all the content of the website */
.file {
  background-color: white;
  margin: 0px 10px 10px 10px;
  padding: 40px;
  border: white;
  border-radius: 15px;
  overflow: hidden;
}

h1 {
  /*color:#fac632; color for when website is fully formatted*/
  color: #fac632;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 800;
  font-size: 50pt;
  margin: 20px 20px 20px 30px;
}

h2 {
  color: #23006e;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 600;
  font-size: 350%;
}

h3 {
  color: #23006e;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 500;
}

h4 {
  color: #23006e;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 500;
}

h5 {
  color: #23006e;
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 500;
}

h6 {
  color: #23006e;
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 400;
}

p {
  color: black;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 150%;
  padding: 1%;
  margin: 1%;
}

img {
  width: 25%;
  margin: 3%;
  display: block;
  float: left;
}

/* formatting for the icons on the about me page */
i {
  margin: 0px 10px 20px 10px;
  padding: 0.5%;
  color: #1f68b8;
}

.icon-row {
    display: flex;
    flex-direction: row;
    margin: 0px;
  }

  #house {
    margin-left: 30px;
  }

hr {
  color: #b515c2;
  border-top: dashed 6px;
  margin: 30px 10px 10px 10px;
}

/* css to set both the about me heading and a border line on the same line
    inspired by https://stackoverflow.com/questions/4861057/line-right-after-text */

.about-me-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: pre;
}

.about-me-title {
  flex-grow: 0;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: white;
  margin: 45px 30px 30px 30px;
  border-top: dashed 6px;
  border-color: #b515c2;
}

/* css for links */
a:link {
  color: #1f68b8;
}

a:visited {
  color: #b515c2;
}

a:hover {
  text-decoration: underline;
  color: #1f68b8;
}

a.header-link {
  color: #23006e;
  text-decoration: none;
}

/* header link information */
a.header-link:hover {
  color: #fac632;
  text-decoration: none;
}

/* button link information */
a.link-button {
  background-color: #530f9e;
  padding: 10px 30px 10px 30px;
  margin: 50px;
  border-radius: 40px;
  color: #fac632;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20pt;
  text-decoration: none;
  position: absolute;
  left: 43%;
  transform: translate(-50%, -50%);
}

a.link-button:hover {
  background-color: #23006e;
}

/* formatting for the header tabs */
.flex-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  font-size: 20pt;
  text-align: center;
}
/* the appearance of the about header tab when selected */
.highlight-about-box {
  background-color: white;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 7px;
  flex: 30%;
  margin: 10px 10px -1px 20px;
}
/* the appearance of the general header tab when selected */
.highlight-box {
  background-color: white;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 7px;
  flex: 30%;
  margin: 10px 10px -1px 10px;
}
/* the appearance of the about header tab when not selected */
.unhighlight-about-box {
  background-color: #1f68b8;
  color: #fac632;
  border: #23006e solid 2px;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 7px;
  margin: 1%;
  flex: 30%;
  margin: 10px 10px 0px 20px;
}
/* the appearance of the general header tab when not selected */
.unhighlight-box {
  background-color: #1f68b8;
  color: #fac632;
  border: #23006e solid 2px;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 7px;
  margin: 1%;
  flex: 30%;
  margin: 10px 10px 0px 10px;
}

/* styling for the captions underneath the images on the design and web pages */
.figure-container {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-size: 10pt;
  margin: 0 auto;
  text-align: center;
}

.figure-container .figure-caption {
  position: absolute;
  top: 275px;
  left: 45px;
  bottom: 0;
  color: #23006e;
  width: 320px;
  height: 20%;
  padding: 20px;
}

/* styling specifically for captions on the web page */
#web-container {
  font-size: 5pt;
}

#web-caption {
  top: 225px;
}

/* code inspired by https://codepen.io/rrenula/pen/nJmQed for gallery */
#gallery-border {
  margin: 0px;
}

.gallery ul {
  list-style-type: none;
  margin-left: 0px;
}

.gallery-design ul {
  list-style-type: none;
  margin-left: 0px;
}

/* animation */
.gallery ul li,
div.gallery li img {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.gallery ul li {
  position: relative;
  float: left;
  width: 130px;
  height: 130px;
  margin: 150px;
  padding: 30px;
  z-index: 0;
}

/* gallery stuff specifically for design page */
.gallery-design ul li {
  position: relative;
  float: left;
  width: 130px;
  height: 130px;
  margin: 150px;
  padding: 30px;
}

/* Make sure z-index is higher on hover */
/* Ensure that hover image overlapped the others */
.gallery ul li:hover {
  z-index: 5;
}

/* Image is position nicely under li */
.gallery ul li img {
  position: absolute;
  left: -5px;
  top: -100px;
  padding: 10px;
  width: 325%;
  height: 300%;
  background: #1f68b8;
  object-fit: cover;
  border-radius: 15px;
}

.figure-caption {
  display: none;
}

/* gallery stuff specifically for design page */
.gallery-design ul li img {
  position: absolute;
  left: -5px;
  top: -45px;
  padding: 10px;
  width: 325%;
  height: 260%;
  background: #1f68b8;
  object-fit: cover;
  border-radius: 15px;
}

/* gallery stuff specifically for web page */
.gallery-design#web ul li img {
  left: -35%;
  top: -100px;
  width: 400%;
  margin: 0 auto;
}

.gallery ul li img:hover {
  width: 400%;
  height: 400%;
  margin-top: -200px;
  margin-left: -130px;
  top: 65%;
  left: 65%;
}

/* media query for phones */
@media (max-width: 800px) {

    /* editing about page to remove line */
  .line {
    display: none;
  }

  /* resizing header for phones */
  .flex-container {
    display: flex;
    flex-direction: row;
    width: 97%;
    font-size: 15pt;
    text-align: center;
  }

  #highlight-box {
    background-color: white;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 7px;
    flex: 30%;
    margin: 5px 5px -1px 5px;
  }

  #unhighlight-about-box {
    background-color: #1f68b8;
    color: #fac632;
    border: #23006e solid 2px;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 7px;
    margin: 1%;
    flex: 30%;
    margin: 5px 5px 0px 20px;
  }

  #unhighlight-box {
    background-color: #1f68b8;
    color: #fac632;
    border: #23006e solid 2px;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 7px;
    margin: 1%;
    flex: 30%;
    margin: 5px 5px 0px 5px;
  }

  /* resizing galleries for phone */
  .gallery ul li {
    position: relative;
    float: left;
    width: 130px;
    height: 130px;
    margin: 40px;
    padding: 10px;
    z-index: 0;
  }
  .gallery ul li img {
    position: absolute;
    left: -25px;
    top: -20px;
    padding: 10px;
    width: 350px;
    height: 200px;
    background: #1f68b8;
    object-fit: cover;
    border-radius: 15px;
  }

  .gallery ul li img:hover {
    width: 350px;
    height: 350px;
    margin-top: -130px;
    margin-left: -130px;
    top: 65%;
    left: 65%;
  }

  .gallery-design ul li {
    position: relative;
    float: left;
    width: 130px;
    height: 130px;
    margin: 40px;
    padding: 10px;
  }

  .gallery-design ul li img {
    position: absolute;
    left: -25px;
    top: 65px;
    padding: 10px;
    width: 350px;
    height: 200px;
    background: #1f68b8;
    object-fit: cover;
    border-radius: 15px;
  }

  a.link-button {
    left: 40%;
  }

  .gallery-design#web ul li img {
    left: -25%;
    top: -10px;
    width: 300%;
    margin: 0 auto;
  }
}
