/* import for EB Garamond and M PLUS Rounded*/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-image: url();
  background-color: #23006e;
}

/* white background for all the content of the website */
.file {
  background-color: white;
  margin: 0px 10px 10px 10px;
  padding: 40px;
  border: white;
  border-radius: 15px;
}

h1 {
  /*color:#fac632; color for when website is fully formatted*/
  color: #fac632;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 800;
  font-size: 50pt;
  margin: 20px 20px 20px 30px;
}

h2 {
  color: #23006e;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 600;
  font-size: 350%;
}

h3 {
  color: #23006e;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 500;
}

h4 {
  color: #23006e;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 500;
}

h5 {
  color: #23006e;
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 500;
}

h6 {
  color: #23006e;
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 400;
}

p {
  color: black;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 150%;
  padding: 1%;
  margin: 1%;
}

#about-me-image {
  width: 25%;
  margin: 3%;
  display: block;
  float: left;
}

/* formatting for the icons on the about me page */
i {
  margin: 0px 10px 20px 10px;
  padding: 0.5%;
  color: #1f68b8;
}

.icon-row {
  display: flex;
  flex-direction: row;
  margin: -10px 0px 0px 0px;
}

#house {
  margin: -5px 10px 0px 0px;
}

.icon-link{
  all:none;
}

.icon-link:hover #house{
  color:#23006e;
}

.icon-link:hover #insta{
  color:#23006e;
}

.icon-link:hover #twitter{
  color:#23006e;
}

hr {
  color: #b515c2;
  border-top: dashed 6px;
  margin: 30px 10px 10px 10px;
}

/* css to set both the about me heading and a border line on the same line
    inspired by https://stackoverflow.com/questions/4861057/line-right-after-text */

.about-me-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: pre;
}

.about-me-title {
  flex-grow: 0;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: white;
  margin: 45px 30px 30px 30px;
  border-top: dashed 6px;
  border-color: #b515c2;
}

/* css for links */
a:link {
  color: #1f68b8;
}

a:visited {
  color: #b515c2;
}

a:hover {
  text-decoration: underline;
  color: #1f68b8;
}

a {
  all:unset;
}

a.header-link {
  color: #23006e;
  text-decoration: none;
}

/* header link information */
a.header-link:hover {
  color: #fac632;
  text-decoration: none;
}

a.highlight-about-box:hover {
  text-decoration:none;
}

a.highlight-box:hover{
  text-decoration:none;
}

/* formatting for the header tabs */
.flex-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  font-size: 20pt;
  text-align: center;
}
/* the appearance of the about header tab when selected */
.highlight-about-box {
  display: block;
  background-color: white;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 7px;
  flex: 30%;
  margin: 10px 10px -1px 20px;
}
/* the appearance of the general header tab when selected */
.highlight-box {
  display:block;
  background-color: white;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 7px;
  flex: 30%;
  margin: 10px 10px -1px 10px;
}
/* the appearance of the about header tab when not selected */
.unhighlight-about-box {
  display:block;
  background-color: #1f68b8;
  color: #fac632;
  border: #23006e solid 2px;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 7px;
  margin: 1%;
  flex: 30%;
  margin: 10px 10px 0px 20px;
}
/* the appearance of the general header tab when not selected */
.unhighlight-box {
  background-color: #1f68b8;
  color: #fac632;
  border: #23006e solid 2px;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 7px;
  margin: 1%;
  flex: 30%;
  margin: 10px 10px 0px 10px;
}

.unhighlight-box-header:hover {
  color: #fac632;
}

.highlight-box-header:hover {
  color: #23006e
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-item {
  height: 300px;
  cursor:pointer;
  position: relative;
  flex-grow: 1;
  flex: 1 1 auto;
}

.gallery-item img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.gallery::after {
  content: "";
  flex-grow: 999;
}

.comm-flex {
  display: flex;
  flex-wrap:nowrap;
  gap: 10px;
}

.commission-column{
  height: 300px;
  cursor:pointer;
  position: relative;
  flex-grow: 1;
  flex: 1 1 auto;
}

.comm-image {
  width: 90%;
  height: 90%x; 
  object-fit:cover;
  border-radius: 5px; 
  height: 100%; 
  margin: 5px;
}

.comm-header {
  font-size: 250%;
  text-align: center;
}

.comm-list{
  font-size: 150%;
  list-style-type: none;
  margin: 0; 
  padding: 0;
  text-align: center;
}


.comm-line {
  flex-grow: 1;
  height: 1px;
  background-color: white;
  margin: 175px 30px 10px 30px;
  border-top: dashed 6px;
  border-color: #b515c2;
}

.cursor-image {
  position: absolute; 
  width: 70px; 
  height: 70px;
}

.cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -24px 0 0 -24px;
  border: 3px solid #23006e;
  border-radius: 100px;
  transition: transform 0.3s ease-out;

  &.is-moving {
    transform: scale(0.7);
  }
}

.game{
  width: 600px;
  height: 200px; 
  border: 1px solid black; 
  margin: auto; 
}

#dino {
  width: 50px; 
  height: 50px; 
  background-image: url(trex.png);
  background-size: 50px 50px;
  position: relative; 
  top: 150px; 
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px;
  }

  80% {
    top: 130px;
  }

  100% {
    top: 150px; 
  }
}

#cactus {
  width: 20px;
  height: 40px;
  position: relative;
  top: 110px;
  left: 580px;

  background-image: url("img/cactus.png");
  background-size: 20px 40px;

  animation: block 1s infinite linear;
}

@keyframes block {
  0% {
    left: 580px;
  }

  100% {
    left: -20px;
  }
}
